.history {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.domain-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  align-self: center;
}

.domain-details {
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
}
.delete-button {
  margin-left: auto;
  border: 0px;
  background-color: transparent;
}

.time-stamp {
}

.domain-logo {
  width: 30px;
  height: 30px;
}
